PORT=5000

MONGO_URI=your_actual_mongodb_connection_string

RAZORPAY_KEY_ID=rzp_test_...
RAZORPAY_KEY_SECRET=...

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

JWT_SECRET=
RAZORPAY_WEBHOOK_SECRET=
