PORT=5000

MONGO_URI=YOUR_REAL_MONGODB_CONNECTION_STRING

RAZORPAY_KEY_ID=YOUR_REAL_RAZORPAY_TEST_KEY
RAZORPAY_KEY_SECRET=YOUR_REAL_RAZORPAY_TEST_SECRET

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=